@charset "utf-8";
/* CSS Document */

body
{margin:0; padding:20px;}
h1
{font-size:110%;
background-color: #c1aefe;
padding: 15px;
}
img
{max-width:100%; height:auto;} /* 画像のハミ出し防止 */
form p
{font-size:100%;}
input,select
{width:100%; font-size:120%; padding:5px;}
input:focus,input:hover
{background:#acf3ff;}
textarea
{width:100%; font-size:120%; padding:5px; height:50px;}
textarea:focus,textarea:hover
{height: 150px;background:#acf3ff;}
input[type="submit"]
{width: 100%; font-size:80%; margin: 0; padding: 5px; background: -webkit-gradient(linear, left top, left bottom, from(#FFAA33), to(#FF8800)); border: 1px #F27300 solid; color: #FFF; -webkit-appearance: none; -webkit-border-radius: 10px; -webkit-box-shadow: 0 2px 2px #CCC; text-shadow: 1px 2px 3px #C45C00;}
.focus
{background:#acf3ff;}
.wd33per
{width:30%;}

